In [3]:
import helpers 
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dataset')

In [6]:
df.head()

,Unnamed: 0,XLMBTC,IOTABTC,ADABTC,BNBBTC,EOSBTC,XRPBTC,ETHBTC,LTCBTC,ETCBTC,NEOBTC,LTCBTC.1
0,0,0.000037,0.000084,0.000012,0.001503,0.000803,0.00007,0.032821,0.008628,0.001655,0.002720,0.008628
1,1,0.000037,0.000084,0.000012,0.001502,0.000803,0.00007,0.032724,0.008604,0.001653,0.002724,0.008604
2,2,0.000037,0.000084,0.000012,0.001503,0.000804,0.00007,0.032764,0.008604,0.001654,0.002722,0.008604
3,3,0.000037,0.000084,0.000012,0.001503,0.000804,0.00007,0.032810,0.008629,0.001652,0.002721,0.008629
4,4,0.000037,0.000084,0.000012,0.001502,0.000804,0.00007,0.032761,0.008613,0.001653,0.002718,0.008613

In [13]:
from scipy.stats import pearsonr
pearsonr(df['IOTABTC'], df['ADABTC'])

(0.8767990071278712, 1.7943522384721085e-160)